<div class="coin_menu">
    <div class="coin_menu_box">
        <ul>
            <li id="game_issue">
                <i class="coin_menu_op_11_1"></i><a href="{:U('Game/issue')}">认购中心</a>
            </li>
            <li id="game_issuelog">
                <i class="coin_menu_op_7_1"></i><a href="{:U('Game/issue_log')}">认购记录</a>
            </li>
        </ul>
    </div>
    <eq name="auth_fenhong" value="1">
      <div class="coin_menu_box">
          <ul>
              <li id="game_fenhong">
                  <i class="coin_menu_op_10_1"></i><a href="{:U('Game/fenhong')}">分红中心</a>
              </li>
              <li id="game_fenhonglog">
                  <i class="coin_menu_op_7_1"></i><a href="{:U('Game/fenhong_log')}">分红记录</a>
              </li>
          </ul>
      </div>
    </eq>

    <eq name="auth_money" value="1">
        <div class="coin_menu_box">
            <ul>
                <li id="game_money">
                    <i class="coin_menu_op_6_1"></i><a href="/Money/index.html">理财中心</a>
                </li>
                <li id="game_moneylog">
                    <i class="coin_menu_op_7_1"></i><a href="/Money/nameauth.html">理财记录</a>
                </li>
            </ul>
        </div>
    </eq>
</div>